<h3 class="app-box__header">
    Question <span class='question-counter'>(<span id="question-number">{{currentQuestionId}}</span>/<span id="questions-total">{{questions.length}}</span>)</span>
</h3>
<h1 class="app-box__question">{{currentQuestion.question}}</h1>
<div class="answer-box">
    <form>
        <fieldset id="quiz-answers">
          {{#each currentQuestion.choices as |choice|}}
            <label class="answer-box__label">
              <input type="radio" class="answer-box__option" name="answer">
              {{choice}}
              <span class="label-icon">
                {{fa-icon "check-circle-o"}}
              </span>
            </label>
          {{/each}}
        </fieldset>
    </form>
    <button class="app-box__next" {{action "nextQuestion"}}>Next<span class="next-icon">{{fa-icon "chevron-right"}}</span></button>
    <button class="app-box__back" {{action "previousQuestion"}}><span class="back-icon">{{fa-icon "chevron-left"}}</span></button>
</div>
{{yield}}
